.tablescroll{

	width:auto; 
	height:800px;
	 overflow: auto; 
	 padding:5px; 
	 margin-bottom: -10px;

}


.height-78{

  height:78px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 55%;
  height: 90%;
  position: relative;
  
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 710px;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

body {
  font-family: "Times New Roman",  serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}


.container-fluid {
   background-color: #1e5e8c;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
   
}


.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {

  color: #fff;
}

.navbar .navbar-nav > li > a {
    padding: 8px 12px;
    color: #fff;
}


#dataTables-example_paginate{

  display: none;
}
#dataTables-example_info{

  display: none;
}

#dataTables-example_filter{

  display: none;
}


.visited{

 color:#609;
 font-style: bold;
}
